body{
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar{
    background: linear-gradient(190deg,#60a73d, rgb(146, 211, 126));
}
.nav-link,.navbar-brand{
    color: #fff;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
    text-align: center;
    font-family: gisha;
    transition: 0.3s;
}
.nav-link:hover{
    color:rgb(59, 53, 53);
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-brand img{
    width: 40px;
    transition: 0.5s;
}
.navbar-brand img:hover{
    transform: translateY(4px);
} 
.navbar-toggler{
    background: rgb(89, 235, 76);
    transition: 0.3s;
}
.navbar-toggler:hover{
    background: rgb(94, 153, 97);
}

.header{
    background-image: url(images/flowers-fruits-garden-strawberry-plant-species.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.55);
    border-bottom: 4px solid black;
}
.description{
    text-align: center;
    position: absolute;
    margin-top: 5%;
    margin-top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.description h1{
    color: #4fe404;
    margin-bottom: 60px;
    
    font-weight: bold;
    font-family: vijaya;
    font-size: 4em;
    cursor: pointer;
    transition: 0.3s;
    word-spacing: 8px;
}
.description h1:hover{
    color: #64f11e;
}
.description p{
    text-transform: capitalize;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5em;
}
.description button{
    background: #6ab446;
    margin-top: 40px;
    border: 1px solid #6ab446;
}
.description button:hover{
    background: #fff;
    color:#000;
    border: 1px solid #6ab446;
}
.features{
    margin:4em auto;
    padding: 1em;
    position: relative;
}
.feature-title{
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.features img{
    box-shadow:2px 2px 3px 2px rgb(122, 122, 122);
    border-radius: 3px;
    transition: 0.4s;
    opacity: 0.95;
    margin-bottom: 16px;
}
.features img:hover{
    transform: translateY(-3px);
    opacity: 1;
}
.form-group textarea{
    height: auto !important;
}
.features input[type="text"]:focus,.features input[type="email"]:focus,.features textarea:focus{
    background-color: rgb(241, 247, 245);
}

.features input[type="text"],.features input[type="email"]{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.features textarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.features input[type=submit],button{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.features p{
    text-align: justify;
    font-family: gisha;
}
footer{
    font-family: gisha;
}
.page-footer{
    background: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright{
    color:#666;
    padding: 40px 0;
}
